In [46]:
import pandas as pd
from sqlalchemy import create_engine
from secret import username, password

In [47]:
# Import IMDB Movies data
xlsx_file = "../etl_project_data/IMBD Movies.xlsx"
imdb_movies_df = pd.read_excel(xlsx_file)
imdb_movies_df.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,537,$ 2250,NaN,NaN,NaN,7.0,7.0
1,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.9,171,NaN,NaN,NaN,NaN,4.0,2.0
2,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,420,$ 45000,NaN,NaN,NaN,24.0,3.0
3,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2019,NaN,NaN,NaN,NaN,28.0,14.0
4,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913,"Biography, Drama",60,USA,English,Sidney Olcott,...,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,438,NaN,NaN,NaN,NaN,12.0,5.0

In [48]:
imdb_movies_df.keys()

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')

In [49]:
imdb_movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81273 entries, 0 to 81272
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          81273 non-null  object
 1   title                  81273 non-null  object
 2   original_title         81273 non-null  object
 3   year                   81273 non-null  int64
 4   date_published         81273 non-null  object
 5   genre                  81273 non-null  object
 6   duration               81273 non-null  int64
 7   country                81234 non-null  object
 8   language               80518 non-null  object
 9   director               81200 non-null  object
 10  writer                 79780 non-null  object
 11  production_company     76948 non-null  object
 12  actors                 81207 non-null  object
 13  description            78843 non-null  object
 14  avg_vote               81273 non-null  float64
 15  votes                  81273 non-null  int64
 16  budget                 22804 non-null  object
 17  usa_gross_income       15089 non-null  float64
 18  worlwide_gross_income  29831 non-null  float64
 19  metascore              12722 non-null  float64
 20  reviews_from_users     74196 non-null  float64
 21  reviews_from_critics   70286 non-null  float64
dtypes: float64(6), int64(3), object(13)
memory usage: 13.6+ MB

In [50]:
imdb_movies_df.sort_values(by=['year'], ascending=True, inplace=True)
imdb_movies_df = imdb_movies_df[~(imdb_movies_df['year'] < 2000)]
imdb_movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43881 entries, 32874 to 81272
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          43881 non-null  object
 1   title                  43881 non-null  object
 2   original_title         43881 non-null  object
 3   year                   43881 non-null  int64
 4   date_published         43881 non-null  object
 5   genre                  43881 non-null  object
 6   duration               43881 non-null  int64
 7   country                43843 non-null  object
 8   language               43453 non-null  object
 9   director               43822 non-null  object
 10  writer                 42898 non-null  object
 11  production_company     41327 non-null  object
 12  actors                 43828 non-null  object
 13  description            42458 non-null  object
 14  avg_vote               43881 non-null  float64
 15  votes                  43881 non-null  int64
 16  budget                 15360 non-null  object
 17  usa_gross_income       9074 non-null   float64
 18  worlwide_gross_income  24007 non-null  float64
 19  metascore              9672 non-null   float64
 20  reviews_from_users     39390 non-null  float64
 21  reviews_from_critics   38845 non-null  float64
dtypes: float64(6), int64(3), object(13)
memory usage: 7.7+ MB

In [51]:
select_imdb_movies_df = imdb_movies_df[['title', 'year', 'duration', 'budget', 'worlwide_gross_income']]
select_imdb_movies_df.head(50)

,title,year,duration,budget,worlwide_gross_income
32874,Trixie,2000,116,NaN,295683.0
32948,Bless the Child,2000,107,$ 65000000,40443010.0
35035,The Last Producer,2000,90,NaN,NaN
35036,Lost in the Pershing Point Hotel,2000,107,NaN,NaN
38686,Fatal Conflict,2000,92,NaN,NaN
36155,Bear with Me,2000,96,NaN,NaN
47041,Vecas pagastmajas misterija,2000,105,NaN,NaN
34983,The House of Mirth,2000,135,$ 10000000,5164404.0
38733,Devadoothan,2000,158,NaN,NaN
32908,La parenthèse enchantée,2000,88,NaN,NaN
36880,Amores perros,2000,154,$ 2000000,20908467.0
47250,Shirley Pimple in the John Wayne Temple of Doom,2000,90,CAD 1500000,NaN
36140,Plata quemada,2000,125,NaN,190075.0
30722,Bruno,2000,108,$ 10000000,NaN
35076,DoppelPack,2000,88,NaN,NaN
36138,Operation Delta Force 5: Random Fire,2000,91,NaN,NaN
32907,The Operator,2000,102,$ 1500000,NaN
34980,The Golden Bowl,2000,130,$ 15000000,5753678.0
35073,Tribulation,2000,95,NaN,NaN
32902,The Magic Pudding,2000,80,NaN,368626.0
36881,Artie,2000,89,$ 1000000,NaN
38771,Ostatnia misja,2000,102,NaN,NaN
38723,Bawandar,2000,125,NaN,3779.0
35029,House!,2000,90,NaN,NaN
35049,Just One Night,2000,90,NaN,NaN
60964,Dastha-ye aloode,2000,103,NaN,NaN
36889,Stand-by,2000,125,NaN,NaN
36891,Chunhyangdyun,2000,120,NaN,NaN
32894,Hanging Up,2000,94,$ 60000000,51880044.0
35047,Rent a Friend,2000,90,NaN,NaN
38707,Daehakno-yeseo maechoon-hadaka tomaksalhae dan...,2000,60,NaN,NaN
31765,No Quarto da Vanda,2000,171,NaN,2912.0
36886,Chal Mere Bhai,2000,136,NaN,199227.0
46620,Yuvakudu,2000,145,NaN,NaN
38716,Anakiseuteu Anarchists,2000,104,NaN,NaN
36894,Drift,2000,86,NaN,NaN
35018,Blowback,2000,91,NaN,NaN
32947,The Beach,2000,119,$ 50000000,144056873.0
36916,Maze,2000,97,NaN,26041.0
32938,The Debut,2000,94,NaN,1745778.0
30731,The Elf Who Didn't Believe,2000,90,NaN,NaN
32883,Kasbah,2000,99,NaN,NaN
38755,Keizoku/eiga,2000,119,NaN,NaN
36919,Svadba,2000,114,NaN,NaN
36152,We All Fall Down,2000,92,NaN,NaN
38753,The Journey of Jared Price,2000,95,$ 30000,NaN
36898,Ftina tsigara,2000,85,NaN,NaN
31749,It Had to Be You,2000,96,$ 10000000,NaN
36143,Le secret,2000,107,NaN,166721.0
36901,Guizi lai le,2000,139,NaN,18944.0

In [39]:
select_imdb_movies_df['movie_id'] = range(1, len(select_imdb_movies_df)+1)
select_imdb_movies_df.set_index('movie_id', inplace=True)
select_imdb_movies_df.tail()

<ipython-input-39-ad1db6a7c16c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  select_imdb_movies_df['movie_id'] = range(1, len(select_imdb_movies_df)+1)

,title,year,duration,budget,worlwide_gross_income
movie_id,,,,,
43877,Artik,2019,78,NaN,NaN
43878,Kaaviyyan,2019,109,NaN,NaN
43879,See You Soon,2019,107,NaN,277126.0
43880,Mirreyes contra Godinez,2019,109,MXN 28000000,11940579.0
43881,Sokagin Çocuklari,2019,98,NaN,2833.0

In [52]:
# TODO Import Streaming availability data

In [55]:
rds_connection_string = f'{username}:{password}@localhost:5432/etl_project'
engine = create_engine(f'postgresql+psycopg2://{rds_connection_string}')

In [56]:
engine.table_names()

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "postgres"

(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [ ]:
select_imdb_movies_df.to_sql(name='movie', con=engine, if_exists='append', index=False)